* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

/* End of CSS Reset */

body {
  background: #FFEEDF;
}

button{
  background-color: #1C5A4E;
  color: #FFEEDF;
  height: 240px;
  width: 240px;
  box-sizing: border-box;
  font-size: 200px;
  border-radius: 120px;
  appearance: none;
  border-width: inherit;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  align-content: center;
}

div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}